---
const SOCIAL_MEDIA = [
    {
        name: "GitHub",
        label: "Star us on GitHub",
        url: "https://www.github.com/diegot4l",
    },
    {
        name: "LinkedIn",
        label: "Connect with me on LinkedIn",
        url: "https://www.linkedin.com/in/diegot4l",
    },
    {
        name: "Facebook",
        label: "Like us on Facebook",
        url: "https://www.facebook.com/creativetim",
        icon: "",
    },
    {
        name: "Twitter",
        label: "Follow us on Twitter",
        url: "https://twitter.com/creativetim",
        icon: "",
    },
    {
        name: "Instagram",
        label: "Follow me on Instagram",
        url: "https://www.instagram.com/creativetimofficial",
        icon: "",
    },
];
---

<div class="flex flex-col gap-4 overflow-y-auto">
    {
        SOCIAL_MEDIA.map((item, index) => (
            <a
                href={item.url}
                class="inline-flex items-center justify-center p-5 text-base font-medium text-gray-500 rounded-lg bg-slate-100 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
            >
                <span class="w-full">{item.label}</span>
                <svg
                    class="w-4 h-4 ms-2 rtl:rotate-180"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                </svg>
            </a>
        ))
    }
</div>
