---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout 
    title="DiegoT4l."
    description='DiegoT4l. - Full Stack Developer'
>
    <main>
        <Hero />
    </main>
</Layout>