---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Avatar from '../components/Avatar.astro';
import Link from '../components/Link.astro';
---

<Layout 
    title="DiegoT4l - Social Links"
    description='Si quieres saber más sobre mi, puedes encontrarme en las siguientes redes sociales. DiegoT4l - Social Links.'
>
    <Hero />
    <main id="profile" class="w-[98%]">
        <div class="relative">
            <Avatar />
        </div>

        <section class="w-full mt-48 flex flex-col justify-center items-center gap-4" id="mediaLinks">
            <div>
                <Link />
            </div>
        </section>
    </main>

    <Footer />
</Layout>