---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Avatar from '../components/Avatar.astro';
---

<Layout 
    title="DiegoT4l - Social Links"
    description='Si quieres saber más sobre mi, puedes encontrarme en las siguientes redes sociales. DiegoT4l - Social Links.'
>
    <Hero />
    <main id="profile" class="w-[98%]">
        <div class="relative">
            <Avatar />
        </div>
    </main>

    <Footer />
</Layout>