<div class="w-full p-4 flex flex-col items-center justify-center absolute z-10 top-[-90px]">
    <img
        class="size-36 p-1 rounded-full ring-2 ring-gray-500"
        src="diego_profile.jpg"
        alt="Bordered avatar"
    />
    <div class="flex flex-col justify-center items-center">
        <h1 class= "text-white text-2xl font-bold tracking-wider">DiegoT4l</h1>
        <p class="text-gray-400 tracking-widest">Software Engineer</p>
    </div>
</div>
