<header>
    <div class="size-6">
        <code class="color-white">
        ██████╗░██╗███████╗░██████╗░░█████╗░████████╗░░██╗██╗██╗░░░░░
        ██╔══██╗██║██╔════╝██╔════╝░██╔══██╗╚══██╔══╝░██╔╝██║██║░░░░░
        ██║░░██║██║█████╗░░██║░░██╗░██║░░██║░░░██║░░░██╔╝░██║██║░░░░░
        ██║░░██║██║██╔══╝░░██║░░╚██╗██║░░██║░░░██║░░░███████║██║░░░░░
        ██████╔╝██║███████╗╚██████╔╝╚█████╔╝░░░██║░░░╚════██║███████╗
        ╚═════╝░╚═╝╚══════╝░╚═════╝░░╚════╝░░░░╚═╝░░░░░░░░╚═╝╚══════╝
        </code>
    </div>
</header>