@font-face {
    font-family: 'rounabold';
    src: url(./assets/fonts/rouna-bold-webfont.ttf) format('font/truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'rounabold';
    src: url(./assets/fonts/rouna-bold-webfont.ttf) format('font/truetype');
    font-weight: 700;
    font-style: bold;
}