---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="../fonts.css" type="text/css"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col justify-center items-center bg-[#09090b]" >
		<slot />
	</body>
</html>
<style is:global>

	html {
		font-family: system-ui, -apple-system;
	}
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		height: 100vh;
		width: 100vw;
		margin: 0;
		padding: 0;
	}
	main {
		flex: 1;
	}
	.glass-effect {
		backdrop-filter: blur(12px) saturate(200%);
		-webkit-backdrop-filter: blur(12px) saturate(200%);
		background-color: rgba(255, 255, 255, 0.25);
		border-radius: 12px;
		border: 1px solid rgba(255, 255, 255, 0.125);
	}
	.rounabold {
		font-family: 'rounabold';
	}
</style>
